@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300|Playfair+Display+SC');
*{
	text-align:center
}

#heads{
	text-align: center
	
}
.P1
{
	float:right;
	
}
#btn {
	
	
	
}

#c2{
	 border-style: outset;
}
	
	
}
body{
	
	
}
.p1 {
	border: 5px solid;
	border-bottom-width:thin;
	float:inherit;
	width: 350px;
	display: inline-block;
	vertical-align:top;
	padding: 20px;
	text-align:justify;
	margin: 10px;
	height:300px;
	background-color
	
}